body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1{
    color: #333;
}

p{
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

a{
    color: #007BFF;
    text-decoration: none;
}

header{
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}
main{
    margin: 20px 0;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}